.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);

    background: url("../../assets/images/hero.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 900px;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 40px;
    color: #e5e7eb;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    padding: 14px 34px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
}

.primary {
    background: #f97316;
    color: white;
}

.primary:hover {
    background: #ea580c;
}

.secondary {
    border: 2px solid white;
    color: white;
}

.secondary:hover {
    background: white;
    color: #111827;
}