.product-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.35s;
}

.product-card:hover{
    transform:translateY(-10px);
}

.product-image{
    height:260px;
}

.product-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.product-content{
    padding:25px;
}

.product-content span{
    color:#f97316;
    font-size:14px;
    font-weight:600;
}

.product-content h3{
    margin:10px 0 20px;
    color:#0f172a;
}

.buttons{
    display:flex;
    gap:12px;
}

.details-btn,
.whatsapp-btn{
    flex:1;
    height:45px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.details-btn{
    background:#0f172a;
    color:white;
}

.whatsapp-btn{
    background:#25D366;
    color:white;
}