.about-preview {
    padding: 90px 8%;
    background: #f8fafc;
}

.container {
    max-width: 1300px;
    margin: auto;

    display: flex;
    align-items: center;
    gap: 60px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,.15);
}

.about-content {
    flex: 1;
}

.about-content span {
    color: #f97316;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-content h2 {
    margin: 15px 0 20px;
    font-size: 2.7rem;
    color: #0f172a;
}

.about-content p {
    color: #64748b;
    line-height: 1.8;
    margin-bottom: 25px;
}

.about-content ul {
    list-style: none;
    margin-bottom: 35px;
}

.about-content li {
    margin-bottom: 15px;
    color: #334155;
    font-weight: 500;
}

.about-btn {
    display: inline-block;
    padding: 14px 30px;
    background: #f97316;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s;
}

.about-btn:hover {
    background: #ea580c;
}

@media (max-width: 900px) {

    .container {
        flex-direction: column;
    }

    .about-content {
        text-align: center;
    }

    .about-content ul {
        text-align: left;
    }
}